body {
    font-family: sans-serif;
}
header {
    background-color: #00FFFF	;
    color: black;
    border: 10px solid #00FFFF;
}
h1 {
    color: #8A2BE2;
    border-radius: 5px;
    font-size: 55px;
    text-align: center;
    text-decoration: underline;
}
footer p {
    background-color:#228B22;
    border: 2px green;
    font-style: italic ;
    color: white;
    font-size: 20px;
}
footer {
    background-color: #32CD32;
}
nav a {
    margin: 20px;
    font-size: 20px;
    text-decoration: none;
    color: rgb(90, 90, 90);
}
nav {
    margin: 20px;
    padding: 10px;
    border: 2px solid lightgray;
}
.ss {
    margin: 30px;
    padding: 20px;
    background-color: red;
    border-radius: 21px solid red;
    color: white;


    



